[submodule "Assets/WalletConnect for Unity/Scripts/WalletConnectSharp"]
	path = Assets/WalletConnect for Unity/Scripts/WalletConnectSharp
	url = git@github.com:WalletConnect/WalletConnectSharp.git
[submodule "Assets/WalletConnectUnity/Scripts/WalletConnectSharp"]
	path = Assets/WalletConnectUnity/Scripts/WalletConnectSharp
	url = git@github.com:WalletConnect/WalletConnectSharp.git
